# phpstan.neon
parameters:
    level: 8

    paths:
        - src

    bootstrapFiles:
        - tests/bootstrap.php

    excludePaths:
        - %currentWorkingDirectory%/vendor/*
        - %currentWorkingDirectory%/tests/*
